In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
!pwd

/Users/salmanfaris/Desktop/ds-projects/learn-fraud/payments-fraud-detection.nosync

In [8]:
import sys
import os

sys.path.append("./deployment/src")

In [11]:
import numpy as np
import pandas as pd

import pipeline_inference as pi

In [15]:
data = pd.read_csv("./deployment/datasets/02_staged/processed_paysim.csv", index_col=0, chunksize=10000)
batch = next(data)
batch.head()

,step,type,amount,name_Source,old_balance_Source,new_balance_Source,name_Destination,old_balance_Destination,new_balance_Destination,is_fraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [19]:
batch = pi.preprocess(batch)
batch

,amount,old_balance_Source,new_balance_Source,old_balance_Destination,new_balance_Destination,type
0,9839.64,170136.0,160296.36,0.0,0.0,PAYMENT
1,1864.28,21249.0,19384.72,0.0,0.0,PAYMENT
2,181.00,181.0,0.00,0.0,0.0,TRANSFER
3,181.00,181.0,0.00,21182.0,0.0,CASH_OUT
4,11668.14,41554.0,29885.86,0.0,0.0,PAYMENT
...,...,...,...,...,...,...
9995,466.73,881.0,414.27,0.0,0.0,PAYMENT
9996,8239.66,11515.0,3275.34,0.0,0.0,PAYMENT
9997,6063.34,31409.0,25345.66,0.0,0.0,PAYMENT
9998,317806.64,10901.0,0.00,103168.0,0.0,TRANSFER
9999,5096.16,60472.0,55375.84,0.0,0.0,PAYMENT

In [42]:
pi.TXN_TYPES_MODEL["TRANSFER"].predict(batch[pi.FEATURE_NAMES])

/Users/salmanfaris/miniforge3/envs/dev/lib/python3.10/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator LogisticRegression from version 1.0.1 when using version 1.5.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

array([1, 1, 1, ..., 1, 0, 1])

In [44]:
batch.apply(pi.predict, axis=1)

/Users/salmanfaris/miniforge3/envs/dev/lib/python3.10/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator LogisticRegression from version 1.0.1 when using version 1.5.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

0       0
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Length: 10000, dtype: int64

In [45]:
pi.batch_predict(batch)

array([0, 0, 1, ..., 0, 0, 0])

In [46]:
pi.pipeline(batch)

,amount,old_balance_Source,new_balance_Source,old_balance_Destination,new_balance_Destination,type,is_fraud
0,9839.64,170136.0,160296.36,0.0,0.0,PAYMENT,0
1,1864.28,21249.0,19384.72,0.0,0.0,PAYMENT,0
2,181.00,181.0,0.00,0.0,0.0,TRANSFER,1
3,181.00,181.0,0.00,21182.0,0.0,CASH_OUT,0
4,11668.14,41554.0,29885.86,0.0,0.0,PAYMENT,0
...,...,...,...,...,...,...,...
9995,466.73,881.0,414.27,0.0,0.0,PAYMENT,0
9996,8239.66,11515.0,3275.34,0.0,0.0,PAYMENT,0
9997,6063.34,31409.0,25345.66,0.0,0.0,PAYMENT,0
9998,317806.64,10901.0,0.00,103168.0,0.0,TRANSFER,0
9999,5096.16,60472.0,55375.84,0.0,0.0,PAYMENT,0

In [56]:
data = pd.read_csv(
    "./deployment/datasets/02_staged/processed_paysim.csv",
    index_col=0,
    chunksize=100,
)

In [84]:
batch = next(data)
batch = pi.pipeline(batch)
batch

/Users/salmanfaris/Desktop/ds-projects/learn-fraud/payments-fraud-detection.nosync/./deployment/src/pipeline_inference.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return batch

,amount,old_balance_Source,new_balance_Source,old_balance_Destination,new_balance_Destination,type,is_fraud
2700,90540.93,7210213.98,7300754.91,181049.46,97990.29,CASH_IN,0
2701,109718.72,7300754.91,7410473.63,123504.50,17504.47,CASH_IN,0
2702,61515.99,7410473.63,7471989.62,18715854.83,18122628.70,CASH_IN,0
2703,43478.09,7471989.62,7515467.71,124103.00,173135.98,CASH_IN,0
2704,4541.85,198.00,0.00,0.00,0.00,PAYMENT,0
...,...,...,...,...,...,...,...
2795,32852.19,8826825.11,8859677.30,5638293.96,5579568.65,CASH_IN,0
2796,22096.38,8859677.30,8881773.68,871439.65,330085.60,CASH_IN,0
2797,3840.87,17057.00,13216.13,0.00,0.00,PAYMENT,0
2798,53763.65,539.00,0.00,3883.96,86242.27,TRANSFER,0
2799,3604.20,112703.00,109098.80,0.00,0.00,PAYMENT,0

In [85]:
import numpy as np

RNG = np.random.default_rng(10062930)

In [109]:
import matplotlib.pyplot as plt

sample = RNG.exponential(scale=100000, size=1)
sample[0]

94777.33689220535

In [124]:
generate_choice = lambda: RNG.choice(
    [
        "PAYMENT",
        "CASH_OUT",
        "CASH_IN",
        "DEBIT",
        "TRANSFER",
    ]
)

generate_amount = lambda: RNG.exponential(scale=100000, size=1)[0]

In [219]:
message = {
    "amount": generate_amount(),
    "old_balance_Source": generate_amount(),
    "new_balance_Source": generate_amount(),
    "old_balance_Destination": generate_amount(),
    "new_balance_Destination": generate_amount(),
    "type": generate_choice(),
}
for k, v in message.items():
    if k == "type":
        print(f"{k}: {v}")
    else:
        print(f"{k}: {v:.2f}")
print()

# Convert message JSON into ML model input format.
batch = pd.Series(message).to_frame().T

batch = pi.pipeline(batch)
pred = batch.is_fraud
print(pred[0])

amount: 62729.51
old_balance_Source: 107384.66
new_balance_Source: 104.35
old_balance_Destination: 60163.89
new_balance_Destination: 269226.08
type: CASH_OUT

1